base: &base
  adapter: postgresql
  encoding: utf8
  username: postgres
  password: 
  host: 127.0.0.1
  pool: 5

development:
  <<: *base
  database: formula_e_development

test:
  <<: *base
  database: formula_e_test

staging:
  <<: *base
  database: formula_e_staging

production:
  <<: *base
  database: formula_e_production